.newPosition-list {
    width: 800px;
    height: 300px;
    background: #FFFFFF;
    box-shadow: 0 0 15px 0 rgba(31, 56, 88, 0.08);
    border-radius: 3px;
    float: left;
    overflow: hidden;
    position: relative;
}
.newPosition-list .position-list {
    position: absolute;
    z-index: 1;
    top: 50px;
    width: 100%;
}
.newPosition-list .position-list li {
    overflow: hidden;
    padding: 0 14px;
    line-height: 50px;
}
.newPosition-list .position-list li .position {
    float: left;
    color: #3C99D8;
    cursor: pointer;
    font-size: 14px;
    width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration-line: none;
}
.newPosition-list .position-list li .time {
    font-style: normal;
    float: right;
    width: 70px;
    text-align: right;
    font-size: 14px;
    color: rgba(31, 56, 88, 0.60);
}
.newPosition-list .position-list li .city {
    float: right;
    font-style: normal;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.60);
    margin-right: 70px;
    width: 202px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.more-positon {
    height: 49px;
    border-bottom: 1px solid rgba(31, 56, 88, 0.06);
    line-height: 49px;
    padding: 0 14px;
    background: white;
    font-size: 14px;
    color: #000000;
    position: relative;
    z-index: 2;
}
.more {
    float: right;
    font-size: 14px;
    color: rgba(31, 56, 88, 0.60);
    cursor: pointer;
    text-decoration: none;
    text-decoration-line:none;
}