header{
    background-color: #2C2F33;
    height: 52px;
    overflow: hidden;
}
header .head{
    width: 1000px;
    margin: 0 auto;
    height: 52px;
}
header .head .logo{
    text-align: right;
    width: 125px;
    height: 20px;
    margin-top: 16px;
    float: left;
    display: block;
}
header .head .logo img{
    height: 20px
}
header .head .line-y{
    float: left;
    color: white;
    font-style: normal;
    font-size: 20px;
    line-height: 52px;
    margin: 0 10px;
    opacity: 0.8;
}
header .head .dec{
    float: left;
    color: white;
    font-style: normal;
    font-size: 14px;
    line-height: 54px;
    opacity: 0.8;
}
header .head li{
    list-style: none;
    display: inline;
    position: relative;
}
header .head li a{
    font-size: 14px;
    color: #fff;
    opacity: 0.8;
    filter: alpha(opacity=80);
    line-height: 52px;
    padding: 10px 15px;
    margin-left: 4px;
    text-decoration-line: none;
}
header .head .login{
    width: 340px;
    float: right;
    line-height: 52px;
    color: #fff;
    text-align: right;
    opacity: 0.8;
    font-size: 12px;
}
header .head .active, header .head li a:hover{
    color: #F37327
}
.login a{
    color: #fff;
    text-decoration-line: none;
}